.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-section {
  width: 50%;
}

.home-page {
  display: flex; justify-content: space-between;
}

.inputs {
  display: flex; flex-direction: column; gap: 7px; width: 100%;
}

.form {
  display: flex; justify-content: space-between; gap: 30px; align-items: end;
}

.form-section {
  border-bottom: solid 1px lightgray ; padding: 10px 10px 40px 10px
}

.info {
  padding: 10px; overflow: scroll; height: 77vh;
}